name: .NET Core

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    
    - name: Login to Docker Hub
      run: docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
    - name: Build docker image
      run: cd src/MattermostBot.Host && docker build . -t ponomnikita/mattermost-bot:latest      
    - name: Push docker image
      run: docker push ponomnikita/mattermost-bot:latest
      
    - name: Login to Heroku Container registry
      env: 
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: heroku container:login 
    - name: Build and push
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: cd src/MattermostBot.Host && heroku container:push -a mattermost-bot-csh worker 
    - name: Release
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: cd src/MattermostBot.Host && heroku container:release -a mattermost-bot-csh worker 

